<div class="mt-10">
    <form method="GET" action="/news">
        <div class="form-group">
            <label for="search-input">Key Can Search</label>
            <input type="text" name="q" class="form-control" id="search-input" placeholder="Input key can search...">
        </div>

        
        <button type="submit" class="btn btn-primary">Find</button>
    </form>

    <form method="POST">
        <div class="form-group">
            <label for="search-input">Input Info</label>
            <input type="text" name="fullName" class="form-control" placeholder="Fullname...?">
            <input type="text" name="age" class="form-control" placeholder="Age...?">
        </div>

        
        <button type="submit" class="btn btn-primary">Send</button>
    </form>
</div>